body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: rgb(23, 55, 97);
	font-size: 62.5%;
}

h1 {
	font-family: cursive;
	color: goldenrod;
}

header {
	padding: 1.875em 0;
}

p1, p2, p3 {
	font-family: cursive;
	color: cadetblue;
}

footer {
	background-color: rgb(20, 45, 82);
	font-size: 1.6em;
}